name: IrisLink build Pipeline

on:
  push:
    paths:
      - '.github/workflows/build.yml'
      - 'Code/**'
    tags:
      - 'IrisLink*'
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - 'Code/**'

  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install WCH modified GCC toolchain
        run: |
          cd ~
          ls -l ./

          git clone https://github.com/akkako/riscv-wch-elf-gcc12.git
          7z x ./riscv-wch-elf-gcc12/riscv-wch-elf-gcc12.7z -o./riscv-wch-elf-gcc12
          ls -l ./riscv-wch-elf-gcc12

      - name: Build Application
        run: |
          cd ${{ github.workspace }} 

          export PATH=$PATH:~/riscv-wch-elf-gcc12/riscv-wch-elf-gcc12/bin

          make all

      
      - name: Upload file
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: |
            build_exec/IrisLink.bin
            build_exec/IrisLink.elf
            build_exec/IrisLink.hex
            build_exec/IrisLink.s
      
  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Download release
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: releases

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'releases/*'
          # tag: ${{ github.ref }}
          allowUpdates: true
          generateReleaseNotes: true